.shy-user-channel-communicate {
    height  : 100%;
    position: relative;

    &-head {
        height         : 48px;
        flex-grow      : 0;
        flex-shrink    : 0;
        display        : flex;
        justify-content: flex-start;
        align-items    : center;
        box-shadow     : var(--shadow-b);
        box-sizing     : border-box;
        text-overflow  : ellipsis;
        white-space    : nowrap;
        overflow       : hidden;
        text-transform : uppercase;
        font-size      : 12px;
        line-height    : 16px;
        padding        : 0px 10px;

        >span {
            flex-shrink: 1;
            flex-grow  : 1;
        }

        >.shy-icon {
            width      : 20px;
            height     : 20px;
            flex-shrink: 0;
            flex-shrink: 0;
        }
    }

    &-content {
        position       : absolute;
        top            : 48px;
        left           : 0px;
        right          : 0px;
        bottom         : 70px;
        z-index        : 1;
        overflow-y     : auto;
        scroll-behavior: smooth;

        .shy-user-channel-chats {}
    }

    &-input {
        z-index         : 2;
        position        : absolute;
        bottom          : 10px;
        left            : 0px;
        right           : 0px;
        margin          : 10px 20px;
        // background-color: var(--channeltextarea-background);
        max-height      : 50vh;
        border-radius   : 8px;
        padding         : 10px;
    }
}



// .shy-user-channel-chat {
//     display   : block;
//     margin-top: 1.0625rem;
//     padding   : 0px 20px;

//     &-date {
//         display       : inline-block;
//         margin-left   : 10px;
//         font-size     : 0.75rem;
//         line-height   : 1.375rem;
//         color         : var(--text-muted);
//         vertical-align: baseline;
//     }

//     &-content {
//         color         : var(--text-normal);
//         font-weight   : 400;
//         // font-size  : 1rem;
//         // line-height: 1.375rem;
//     }
// }