.shy-ws-settings {
    background-image: linear-gradient(to right, var(--background-secondary), var(--background-primary));

    &-slide {
        background-color: var(--background-secondary);

        h4 {
            color         : var(--channels-default);
            font-weight   : 700;
            padding       : 5px 15px;
            font-size     : 12px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            margin        : 0px;
        }

        a {
            display        : flex;
            justify-content: flex-start;
            align-content  : center;
            padding        : 5px 15px;
            cursor         : pointer;
            margin         : 5px 0px;
            margin-right   : 10px;
            border-radius  : 4px;
            font-size      : 16px;
            font-weight    : 700;
            color          : var(--interactive-normal);

            &.warn {
                color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
            }

            .shy-icon {
                width       : 20px;
                height      : 20px;
                margin-right: 8px;
                color       : rgba(55, 53, 47, 0.8);
                fill        : rgba(55, 53, 47, 0.8);
            }

            span {
                font-size  : 14px;
                line-height: 20px;
                color      : rgb(55, 53, 47);
            }

            &:hover,
            &.hover {
                background: rgba(55, 53, 47, 0.08);
            }

            &.hover {
                span {
                    font-weight: bold;
                }
            }

            &.selected span {
                font-weight: bold;
            }
        }
    }

    &-content {
        background   : var(--background-primary);
        padding-left : 20px;
        width        : calc(100vw - (100vw - 1000px)/2 - 200px);
        padding-right: calc((100vw - 1000px)/2 + 20px)
    }

    &-operators {
        position    : absolute;
        top         : 20px;
        right       : 20px;
        a {
            display        : flex;
            justify-content: center;
            align-items    : center;
            flex-direction : column;
            stroke-width   : 2px;

            span {
                display        : flex;
                width          : 32px;
                height         : 32px;
                justify-content: center;
                align-items    : center;
                border-radius  : 50%;
                border         : 1px solid #dcddde;
                cursor         : pointer;

                &:hover {
                    background-color: #f6f6f7;
                }
            }

            label {
                color      : rgba(55, 53, 47, 1);
                font-size  : 12px;
                display    : inline-block;
                width      : 40px;
                text-align : center;
                font-weight: bold;
            }
        }
    }

    z-index : 10000;
}






.shy-ws-settings-view-domain {
    display        : flex;
    justify-content: flex-start;
    align-items    : center;
}

.shy-ws-members {
    .shy-ws-member-head {
        margin-top: 20px;
    }

    .shy-ws-member {
        // padding   : 10px 10px;
        box-shadow: 0 1px 0 0 rgba(79, 84, 92, .04);


        &:hover {
            background-color: #f6f6f7;
        }

        &-roles {
            display        : flex;
            justify-content: flex-start;
            align-items    : center;

            a {
                margin-right   : 10px;
                display        : inline-flex;
                justify-content: flex-start;
                align-items    : center;
                padding        : 0px 5px;
                height         : 24px;
                line-height    : 24px;
                font-size      : 12px;
                font-weight    : 500;
                background     : var(--background-secondary-alt);
                border-radius  : 4px;
                color          : rgba(79, 84, 92, .8);
                span {
                    font-size: 12px;
                    &.color {
                        display      : inline-block;
                        position     : relative;
                        width        : 14px;
                        height       : 14px;
                        border-radius: 50%;
                        margin-right : 5px;
                    }

                    &.text {
                        font-size: 12px;
                    }
                }

                &:hover {
                    span.color {
                        &::after {
                            position : absolute;
                            top      : 50%;
                            left     : 50%;
                            transform: translate(-50%, -50%);
                            content  : '×';
                            color    : #fff;
                        }
                        
                    }
                }
            }
        }
    }
}

.shy-settings-ws-avatar {
    width        : 100px;
    height       : 100px;
    border-radius: 50%;
    z-index      : 1;
    position     : relative;

    &-hover {
        position           : absolute;
        top                : 0px;
        right              : 0px;
        bottom             : 0px;
        left               : 0px;
        // border-radius   : 50%;
        // border-radius: ;
        background-color   : rgba(0, 0, 0, .3);
        color              : #fff;
        justify-content    : center;
        align-items        : center;
        font-size          : 12px;
        cursor             : pointer;
        display            : none;
    }

    &:hover {
        .shy-settings-ws-avatar-hover {
            display: flex;
        }
    }

    span {
        font-size       : 40px;
        background-color: #5865f2;
        color           : #fff;
    }
}

.shy-settings-ws-cover {
    position     : relative;
    height       : 120px;
    width        : 300px;
    border-radius: 4px;
    background   : #e3e5e8;

    img {
        height         : 120px;
        width          : 300px;
        border-radius  : 4px;
        object-fit     : cover;
        object-position: center;
    }

    &-hover {
        position        : absolute;
        top             : 0px;
        right           : 0px;
        bottom          : 0px;
        left            : 0px;
        border-radius   : 4px;
        background-color: rgba(0, 0, 0, .3);
        color           : #fff;
        justify-content : center;
        align-items     : center;
        font-size       : 12px;
        cursor          : pointer;
        display         : none;
    }

    &:hover {
        .shy-settings-ws-cover-hover {
            display: flex;
        }
    }
}