.shy-ws-roles {
    &-everyone {
        background-color: var(--background-secondary);
        color           : var(--interactive-normal);
        .shy-icon {
            color: var(--interactive-hover);
        }

        &:hover {
            background-color: var(--background-modifier-hover);
            color           : var(--interactive-hover);
        }

        h3 {
            margin   : 0px;
            color    : var(--interactive-hover);
            padding  : 0px;
            font-size: 16px;
        }
    }

    .shy-ws-roles-list-box {
        margin-top: 20px;

        &-head {
            span {
                font-size: 12px;
                color    : var(--header-secondary);
            }

            padding-bottom: 5px;
            border-bottom : 1px solid var(--background-modifier-accent);
        }

        .shy-ws-roles-list-role-info {
            display        : flex;
            justify-content: flex-start;
            align-items    : center;
            border-bottom  : 1px solid var(--background-modifier-accent);
            padding        : 10px 0px;
            cursor         : pointer;

            >div {
                padding: 0px 10px;

                &:first-child {
                    flex-grow  : 1;
                    flex-shrink: 1;
                }

                &:last-child {
                    flex-grow  : 0;
                    flex-shrink: 0;
                }
            }

            &:hover {
                background-color: var(--background-modifier-hover);
            }
        }
    }
}

.shy-ws-roles-edit {
    display        : flex;
    justify-content: flex-start;
    align-items    : flex-start;

    .shy-ws-roles-edit-roles {
        flex-grow  : 0;
        flex-shrink: 0;
        width      : 200px;
        margin-right: 20px;

        &-head {}

        >a{
            padding        : 6px 10px;
            display        : flex;
            justify-content: flex-start;
            align-items    : center;
            border-radius  : 4px;
            color          : var(--interactive-normal);
            font-weight    : 500;
            font-size      : 16px;
            cursor         : pointer;

            &:hover {
                background-color: var(--background-modifier-hover);
                color           : var(--interactive-hover);
            }

            &.hover {
                background-color: var(--background-modifier-selected);
                color           : var(--interactive-active);
            }

            span {
                font-size: 14px;

                &:first-child {
                    display      : inline-block;
                    width        : 14px;
                    height       : 14px;
                    border-radius: 50%;
                }

                &:last-child {
                    margin-left  : 8px;
                    overflow     : hidden;
                    text-overflow: ellipsis;
                    white-space  : nowrap;
                }
            }
        }
    }

    .shy-ws-roles-edit-tab {
        flex-grow  : 1;
        flex-shrink: 1;

        &-title {
            color      : var(--header-primary);
            font-size  : 16px;
            line-height: 20px;
            font-weight: 500;
        }

        &-head {
            margin-top   : 16px;
            margin-bottom: -2px;
            border-bottom: 2px solid var(--background-modifier-accent);
            box-sizing   : border-box;

            a {
                display       : inline-block;
                border-bottom : 2px solid transparent;
                font-size     : 16px;
                line-height   : 20px;
                padding-bottom: 16px;
                position      : relative;
                color         : var(--interactive-active);
                margin-right  : 32px;
                cursor        : pointer;

                &.hover {
                    border-bottom-color: var(--control-brand-foreground);
                }

                &.disabled {
                    color : var(--interactive-muted);
                    cursor: default;
                }
            }
        }

        &-page {
            padding-top: 10px;
        }
    }
}

.shy-ws-role-info {
    padding-top: 20px;

    label {
        font-size     : 12px;
        padding-bottom: 5px;

        i {
            color      : #e16259;
            display    : inline-block;
            margin-left: 5px;
        }
    }

    .shy-ws-role-info-color-box {
        margin-top     : 10px;
        display        : flex;
        justify-content: flex-start;
        align-items    : flex-start;

        .shy-ws-role-info-color {
            height       : 50px;
            min-width    : 60px;
            border-radius: 4px;
        }

        .shy-ws-role-info-color-picker {
            height       : 50px;
            min-width    : 60px;
            border-radius: 4px;
            margin       : 0px 10px;
            cursor       : pointer;
            box-sizing   : border-box;
            border       : 1px solid rgba(79, 84, 92, .1);
            position     : relative;
        }

        .shy-ws-role-info-colors {
            display  : flex;
            height   : 20px;
            width    : 300px;
            flex-wrap: wrap;

            a {
                display        : inline-flex;
                justify-content: center;
                align-items    : center;
                box-sizing     : border-box;
                width          : 20px;
                height         : 20px;
                border-radius  : 3px;
                margin-right   : 10px;
                margin-bottom  : 10px;
                cursor         : pointer;
            }
        }
    }

}

.shy-ws-role-permission {
    padding-top: 20px;
    h4 {
        margin: 0px 0px 10px 0px;
    }
    .shy-row {
        margin-top: 10px
    }
}

.shy-ws-role-users {
    padding-top: 20px;
}