.shy-ws-create {
    position : absolute;
    top      : 150px;
    left     : 50%;
    width    : 300px;
    transform: translateX(-50%);

    &-text {
        input {
            width: 100%;
        }

        margin-bottom: 14px;
    }

    &-fail-tip {}

    &-button {}
}