.shy-surface {
    display        : flex;
    justify-content: flex-start;
    align-items    : stretch;
    width          : 100vw;
    height         : 100vh;
    position       : absolute;
    top            : 0px;
    left           : 0px;
    z-index        : 1;
    overflow       : hidden;

    .shy-sidebar {
        width             : 72px;
        flex-shrink       : 0;
        flex-grow         : 0;
        background-color  : var(--background-tertiary);
        -webkit-app-region: drag;
        display           : flex;
        justify-content   : flex-start;
        align-items       : stretch;
        flex-direction    : column;
        flex-wrap         : nowrap;

        >* {
            flex-grow  : 0;
            flex-shrink: 0;
        }

        &-body {
            flex-shrink: 1;
            flex-grow  : 1;
            overflow-y : auto;
            overflow-x : hidden;

            &::-webkit-scrollbar {
                width : 2px;
                height: 2px;
            }
        }

        a {
            -webkit-app-region: no-drag;
            width             : 48px;
            height            : 48px;
            display           : flex;
            justify-content   : center;
            cursor            : pointer;
            align-items       : center;
            margin            : 12px;
            transition        : color .15s ease-out, background-color .35s ease-out, border-radius .4s;
            background-color  : var(--background-primary);
            border-radius     : 50%;
            color             : rgb(59, 165, 93);

            &:hover {
                border-radius: 16px;
            }

            .shy-icon {
                fill: currentColor
            }

            &.shy-sidebar-ws-name {
                &:hover {
                    background-color: rgb(88, 101, 242);
                    color           : #fff;
                }
            }



            &.shy-sidebar-ws-icon {
                img {
                    border-radius: 50%;
                }
            }

            &.shy-sidebar-operator {
                border-radius: 16px;

                &:hover,
                &.hover {
                    color                 : rgb(59, 165, 93);
                    // background-color   : #fff;
                    // // background-color: rgb(59, 165, 93);
                    // color              : #fff;
                }
            }
        }

        .shy-sidebar-ws.hover {
            -webkit-app-region: drag;

            a {
                border-radius: 16px;
            }

            .shy-sidebar-ws-name {
                background-color: rgb(88, 101, 242);
                color           : #fff;
            }
        }

        &-divider {
            margin          : 0px 20px;
            height          : 2px;
            width           : 32px;
            border-radius   : 1px;
            background-color: var(--background-modifier-accent);
        }
    }

    &-content {
        flex-grow       : 1.0;
        flex-shrink     : 1;
        background-color: rgb(243, 243, 243);
        display         : flex;
        justify-content : stretch;
        align-items     : stretch;
        flex-direction  : column;
        height          : 100vh;

        &-head {
            flex-shrink: 0;
            flex-grow  : 0;
        }

        &-box {
            flex-grow      : 1.0;
            flex-shrink    : 1;
            display        : flex;
            justify-content: flex-start;
            align-items    : stretch;
        }
    }

    .shy-sidebar-ws {

        &:hover,
        &.hover {
            .shy-sidebar-ws-icon {
                img {
                    border-radius: 16px;
                }
            }
        }
    }

    .shy-slide {
        overflow-y      : auto;
        height          : 100%;
        width           : 240px;
        box-sizing      : border-box;
        flex-shrink     : 0;
        background-color: var(--background-secondary);
        position        : relative;
        border-right    : 1px solid var(--background-modifier-accent);

        &-resize {
            position  : absolute;
            top       : 0px;
            right     : 0px;
            bottom    : 0px;
            width     : 2px;
            opacity   : 0;
            box-shadow: rgba(0, 0, 0, 0.1) -2px 0px 0px 0px inset;
            cursor    : col-resize;
        }

        &:hover {
            .shy-ws-profile-operators {
                visibility: visible;
            }

            .shy-slide-resize {
                opacity: 1;
            }
        }

        &.dragging {
            .shy-slide-resize {
                opacity: 1;
            }
        }

        &.float {
            position: absolute;
            top     : 100px;
            left    : 0px;
            bottom  : 100px;
            opacity : 1;
            z-index : 100;
        }

        &.float-hide {
            position: absolute;
            top     : 100px;
            left    : 0px;
            bottom  : 100px;
            opacity : 0;
            z-index : 100;
        }
    }

    .shy-content {
        flex-grow       : 1.0;
        flex-shrink     : 1;
        background-color: rgb(243, 243, 243);
    }

    &-loading {
        display        : flex;
        justify-content: center;
        align-items    : center;
        width          : 100vw;
        height         : 100vh;
    }
}

.shy-wss {
    outline: none;

    .shy-ws {
        .shy-ws-profile {
            flex-grow  : 0;
            flex-shrink: 0;
        }

        >.shy-ws-items {
            flex-grow     : 1;
            padding-bottom: 100px;
            overflow-y    : auto;
            box-sizing    : border-box;
            padding-top   : 15px;
        }
    }
}

.shy-supervisor-join-tip {
    height          : 100%;
    background-color: #e16259;
    display         : flex;
    color           : #fff;
    justify-content : center;
    align-items     : center;

    a {
        margin-left  : 10px;
        font-weight  : 600;
        padding      : 4px 8px;
        color        : #fff;
        display      : inline-block;
        border-radius: 3px;
        font-size    : 14px;
        border       : 1px solid #fff;
        cursor       : pointer;

        &:hover {
            background-color: lighten(#e16259, 10%);
        }

    }
}

.shy-404 {
    width           : 100vw;
    height          : 100vh;
    position        : fixed;
    top             : 0px;
    left            : 0px;
    background-color: #e16259;
    color           : #fff;

    &-content {
        margin-top: 150px;
        text-align: center;

        h3 {
            margin       : 0px;
            margin-bottom: 20px;
        }

        &-text {
            text-align: center;

            span {
                font-size: 16px;
            }

            a {
                font-size      : inherit;
                color          : #fff;
                text-decoration: underline;
            }
        }
    }
}