.shy-supervisor-bar {
    position        : absolute;
    left            : 0px;
    right           : 0px;
    z-index         : 1111;
    height          : 48px;
    display         : flex;
    justify-content : flex-start;
    align-items     : center;
    background-color: #fff;

    &-menu {
        user-select    : none;
        transition     : background 20ms ease-in 0s;
        cursor         : pointer;
        display        : inline-flex;
        align-items    : center;
        justify-content: center;
        flex-shrink    : 0;
        border-radius  : 3px;
        height         : 24px;
        width          : 24px;
        margin-left    : 10px;

        &:hover {
            background-color: rgba(55, 53, 47, 0.08);
        }
    }

    &-left {
        flex-grow      : 1;
        display        : flex;
        justify-content: flex-start;
        align-items    : center;
    }

    &-right {
        min-width      : 80px;
        flex-shrink    : 0;
        flex-grow      : 0;
        height         : 45px;
        display        : flex;
        justify-content: center;
        align-items    : center;

        >a {
            width          : 24px;
            height         : 24px;
            display        : inline-flex;
            justify-content: center;
            align-items    : center;
            color          : rgb(55, 53, 47);

            &:hover {
                background-color: rgba(55, 53, 47, 0.08);
            }

            border-radius : 4px;
            margin-right  : 10px;
            cursor        : pointer;
        }

        .shy-icon {
            display        : inline-flex;
            justify-content: center;
            align-items    : center;
            color          : rgb(55, 53, 47);
        }
    }
}

.shy-supervisor-bar-users {
    margin-right   : 10px;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.shy-supervisor-bar-routers {
    margin-left    : 4px;
    display        : flex;
    justify-content: center;

    &-item {
        display        : inline-flex;
        padding-left   : 6px;
        padding-right  : 6px;
        color          : rgb(55, 53, 47);
        white-space    : nowrap;
        height         : 24px;
        line-height    : 24px;
        border-radius  : 3px;
        cursor         : pointer;
        align-items    : center;
        justify-content: flex-start;

        .shy-icon {
            user-select    : none;
            transition     : background 20ms ease-in 0s;
            display        : flex;
            align-items    : center;
            justify-content: center;
            border-radius  : 3px;
            flex-shrink    : 0;
            margin-right   : 6px;
            color          : rgba(55, 53, 47, .4);
            fill           : rgba(55, 53, 47, .4);
        }

        a {
            color        : rgba(55, 53, 47, .4);
            display      : inline-block;
            max-width    : 100px;
            line-height  : 24px;
            overflow     : hidden;
            text-overflow: ellipsis;
        }

        &:hover {
            background-color: rgba(55, 53, 47, 0.08);
        }
    }

    >label {
        user-select  : none;
        transition   : background 20ms ease-in 0s;
        cursor       : pointer;
        display      : inline-flex;
        align-items  : center;
        flex-shrink  : 0;
        white-space  : nowrap;
        height       : 24px;
        border-radius: 3px;
        font-size    : 14px;
        line-height  : 1.2;
        min-width    : 0px;
        padding-left : 6px;
        padding-right: 6px;
        color        : rgb(55, 53, 47);
    }

    >em {
        font-style  : normal;
        margin-left : 2px;
        margin-right: 2px;
        color       : rgba(55, 53, 47, 0.4);
    }
}