html,
body {
    padding: 0px;
    margin : 0px;
}

.shy-app {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    text-decoration: none;
    color          : #e16259;
}

p {
    margin: 0px;
}

i,
em,
b {
    font-style : normal;
    font-weight: normal;
}


/**
layout 
**/

.flex-fix-auto {
    display        : flex;
    justify-content: flex-start;
    align-items    : center;

    >* {
        &:first-child {
            flex-shrink: 0;
            flex-grow  : 0;
        }

        &:last-child {
            flex-shrink: 1;
            flex-grow  : 1;
        }
    }
}

.flex-auto-fix {
    display        : flex;
    justify-content: flex-start;
    align-items    : center;

    >* {
        &:first-child {
            flex-shrink: 1;
            flex-grow  : 1;
        }

        &:last-child {
            flex-shrink: 0;
            flex-grow  : 0;
        }
    }
}

@keyframes ToggleVisible {
    0% {
        visibility         : hidden;
        // background-color: red;
    }

    50% {
        visibility         : hidden;
        // background-color: blue;
    }
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    visibility: hidden;
}

::-webkit-scrollbar {
    width : 8px;
    height: 8px;

}

:hover::-webkit-scrollbar-thumb,
:hover::-webkit-scrollbar-track {
    visibility: visible;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}


::-webkit-scrollbar-thumb {
    background-clip : padding-box;
    border          : 2px solid transparent;
    border-radius   : 4px;
    background-color: var(--scrollbar-thin-thumb);
    min-height      : 40px;
}

::-webkit-scrollbar-track {
    border-color    : var(--scrollbar-thin-track);
    background-color: var(--scrollbar-thin-track);
    border          : 2px solid var(--scrollbar-thin-track);
}