html,
body {
    font-weight         : 400;
    line-height         : 1.5;
    padding             : 0px;
    margin              : 0px;
    font-size           : 14px;
    font-family         : -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Noto Sans', 'Noto Sans CJK SC', 'Microsoft YaHei UI', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-variant-numeric: tabular-nums;
}

.ef {
    font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";
}

.shy-app {}

a {
    text-decoration: none;
    color          : #e16259;
}

p {
    margin: 0px;
}

i,
em,
b {
    font-style : normal;
    font-weight: normal;
}



::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    visibility: hidden;
}

::-webkit-scrollbar {
    width : 8px;
    height: 8px;

}

:hover::-webkit-scrollbar-thumb,
:hover::-webkit-scrollbar-track {
    visibility: visible;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}


::-webkit-scrollbar-thumb {
    background-clip : padding-box;
    border          : 2px solid transparent;
    border-radius   : 4px;
    background-color: var(--scrollbar-thin-thumb);
    min-height      : 40px;
}

::-webkit-scrollbar-track {
    border-color    : var(--scrollbar-thin-track);
    background-color: var(--scrollbar-thin-track);
    border          : 2px solid var(--scrollbar-thin-track);
}