html,
body {
    padding: 0px;
    margin : 0px;
}


.sy-cover {
    position: absolute;
    top     : 0px;
    left    : 0px;
    width   : 100vw;
    height  : 100vh;
}


.input {


    font-size    : 15px;
    line-height  : 26px;
    padding      : 4px 10px;
    border-radius: 3px;
    box-shadow   : rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
    background   : rgba(242, 241, 238, 0.6);
    cursor       : text;
    outline      : none;
    border       : 0px;
    box-sizing   : border-box;

    &:focus {
        box-shadow: rgba(46 170 220, 0.7) 0px 0px 0px 1px inset, rgba(46 170 220, 0.4) 0px 0px 0px 2px !important;
    }

}

.button {
    user-select    : none;
    transition     : background 20ms ease-in 0s;
    cursor         : pointer;
    display        : inline-flex;
    align-items    : center;
    justify-content: center;
    white-space    : nowrap;
    height         : 36px;
    border-radius  : 3px;
    color          : white;
    font-size      : 14px;
    line-height    : 1;
    padding-left   : 12px;
    padding-right  : 12px;
    font-weight    : 500;
    background     : rgb(225, 98, 89);
    border         : 1px solid rgb(190, 86, 67);
    box-shadow     : rgba(15, 15, 15, 0.1) 0px 1px 2px 0px;
    margin-bottom  : 4px;
    width          : 100%;
}