.shy-ws-create {
    position : absolute;
    top      : 150px;
    left     : 50%;
    // width    : 300px;
    transform: translateX(-50%);
}

.shy-invite {
    position     : absolute;
    top          : 100px;
    left         : 50%;
    transform    : translate(-50%, 0%);
    // width        : 350px;
    visibility   : visible;
    background   : hsla(0, 0%, 100%, .92);
    box-shadow   : 0 4px 40px rgba(0, 0, 0, .08);
    // padding      : 48px 72px 72px 72px;
    // border-radius: 8px;
}