.sy-doc {
    width   : 100%;
    height  : 100%;
    position: relative;

    &-bar {
        position: absolute;
        left    : 0px;
        right   : 0px;
        z-index : 1111;
        height  : 45px;



        &-right {
            position       : absolute;
            top            : 0px;
            right          : 0px;
            height         : 45px;
            display        : flex;
            justify-content: center;
            align-items    : center;

            .sy-icon {
                cursor         : pointer;
                margin-right   : 10px;
                display        : inline-flex;
                justify-content: center;
                align-items    : center;
                border-radius  : 4px;
                color          : rgb(55, 53, 47);

                &:hover {
                    background-color: rgba(55, 53, 47, 0.08);
                }
            }
        }
    }

    &-view {
        position           : absolute;
        top                : 40px;
        right              : 0px;
        left               : 0px;
        bottom             : 0px;
        overflow-y         : auto;
        overflow-x         : hidden;
        overscroll-behavior: none;
        scroll-behavior    : smooth;
    }
}

.sy-wss {
    outline: none;

    .sy-ws {
        &-profile {
            padding        : 10px 10px;
            display        : flex;
            justify-content: flex-start;
            align-items    : center;
            cursor         : pointer;

            &-face {
                img {
                    width        : 40px;
                    height       : 40px;
                    border-radius: 50%;
                    margin-right : 10px;
                }
            }

            &-info {
                color          : rgb(55, 53, 47);
                font-weight    : 500;
                font-size      : 14px;
                display        : inline-flex;
                justify-content: flex-start;
                align-items    : center;

                span {
                    display: inline-flex;
                }
            }

            &:hover {
                background-color: rgba(55, 53, 47, 0.08);
            }
        }
    }
}

.sy-ws-module {
    position: relative;

    &-head {
        padding-left: 10px;
        color       : rgba(55, 53, 47, 0.4);
        font-size   : 12px;

        span {
            padding: 2px 4px;
            display: inline-block;
            cursor : pointer;

            &:hover {
                background-color: rgba(55, 53, 47, 0.08);
            }
        }
    }

    &-operators {
        padding-right  : 10px;
        position       : absolute;
        top            : 0px;
        right          : 0px;
        display        : flex;
        justify-content: center;
        align-items    : center;
        visibility     : hidden;

        .sy-icon {
            display        : inline-flex;
            justify-content: center;
            align-items    : center;
            color          : rgba(25, 23, 17, 0.6);
            width          : 20px;
            height         : 20px;
            border-radius  : 3px;

            &:hover {
                background-color: rgba(55, 53, 47, 0.08);
            }
        }
    }

    &:hover {
        .sy-ws-module-operators {
            visibility: visible;
        }
    }
}

.sy-ws-item {
    &-page {
        cursor     : pointer;
        position   : relative;
        display    : flex;
        align-items: center;
        min-height : 27px;


        color    : rgba(25, 23, 17, 0.6);
        font-size: 14px;

        &-spread {
            color          : inherit;
            display        : inline-flex;
            justify-content: center;
            align-items    : center;
            width          : 20px;
            height         : 20px;
            border-radius  : 3px;

            &:hover {
                background-color: rgba(55, 53, 47, 0.08);
            }
        }

        span {
            color: inherit;
        }

        &-operators {
            padding-right  : 10px;
            position       : absolute;
            top            : 0px;
            right          : 0px;
            bottom         : 0px;
            display        : flex;
            justify-content: center;
            align-items    : center;
            visibility     : hidden;

            .sy-icon {
                display        : inline-flex;
                justify-content: center;
                align-items    : center;
                width          : 20px;
                height         : 20px;
                border-radius  : 3px;

                &:hover {
                    background-color: rgba(55, 53, 47, 0.08);
                }
            }
        }

        &.selected {
            background: rgba(55, 53, 47, 0.08);
            color     : rgb(55, 53, 47);
        }

        &:hover {
            background: rgba(55, 53, 47, 0.08);

            .sy-ws-item-page-operators {
                visibility: visible;
            }
        }
    }
}

.sy-ws-item-empty {
    span {
        color    : rgba(55, 53, 47, 0.4);
        font-size: 12px;
    }
}


.sy-ws-menu {
    position      : fixed;
    top           : 0px;
    left          : 0px;
    width         : 100vw;
    height        : 100vh;
    z-index       : 1;
    pointer-events: none;

    &-cove {
        position      : absolute;
        top           : 0px;
        left          : 0px;
        width         : 100vw;
        height        : 100vh;
        z-index       : 1;
        pointer-events: visible;
    }

    &-box {
        pointer-events: visible;
        position      : absolute;
        border-radius : 3px;
        background    : white;
        z-index       : 2;
        box-shadow    : rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
        overflow      : hidden;

        &-content {
            width     : 220px;
            max-height: 70vh;
            min-width : 180px;
            overflow  : hidden auto;
        }
    }

    .sy-ws-menu-item {
        &-devide {
            height    : 1px;
            box-shadow: rgb(55, 53, 47, 0.09) 0px 1px 0px;
            display   : block;
        }

        &-option {
            position       : relative;
            display        : flex;
            justify-content: flex-start;
            align-items    : center;
            user-select    : none;
            min-height     : 28px;
            line-height    : 28px;
            font-size      : 14px;
            color          : rgba(55, 53, 47);
            padding        : 0px 20px;
            cursor         : pointer;

            .sy-ws-item-page-spread {
                flex-shrink: 0;
            }

            span {
                display    : inline-flex;
                margin-left: 3px;
                flex-grow  : 1.0;
            }

            .sy-ws-item-page-input {
                flex-grow: 1.0;

                input {
                    width           : 100%;
                    background-color: #fff;
                    border          : 0px;
                    outline         : none;
                }
            }



            &:hover {
                background-color: rgba(55, 53, 47, 0.08);
            }

            label {
                position: absolute;
                top     : 0px;
                right   : 0px;
                bottom  : 0px;
            }
        }

        &-text {
            display    : block;
            padding    : 0px 20px;
            font-size  : 12px;
            line-height: 16px;
            color      : rgba(55, 53, 47, 0.4);
        }
    }
}