.shy-ws-profile {

    padding        : 0px 10px;
    height         : 45px;
    display        : flex;
    justify-content: flex-start;
    align-items    : center;
    cursor         : pointer;
    position       : relative;

    &-face {
        margin-right: 8px;
    }

    &-info {
        color          : rgb(55, 53, 47);
        font-weight    : 500;
        font-size      : 14px;
        display        : inline-flex;
        justify-content: flex-start;
        align-items    : center;

        span {
            display      : inline-flex;
            margin-right : 6px;
            overflow     : hidden;
            text-overflow: ellipsis;
        }

        .shy-icon {
            flex-grow: 0;
            flex-shrink: 0;
            color: rgba(55, 53, 47, 0.4);
            fill : rgba(55, 53, 47, 0.4);
        }
    }

    &-operators {
        position       : absolute;
        right          : 0px;
        padding        : 0px 10px;
        height         : 100%;
        display        : flex;
        justify-content: flex-start;
        align-items    : center;
        height         : 40px;
        visibility     : hidden;

        a {
            display        : inline-flex;
            width          : 24px;
            height         : 24px;
            justify-content: center;
            align-items    : center;
            color          : rgba(55, 53, 47, 0.4);
            fill           : rgba(55, 53, 47, 0.4);
            border-radius  : 4px;

            >svg {
                width : 14px;
                height: 14px;
            }

            &:hover {
                background-color: rgba(55, 53, 47, 0.08);
            }
        }
    }

    &:hover {
        background-color: rgba(55, 53, 47, 0.08);
    }
}


