body,
html {
    margin          : 0px;
    padding         : 0px;
    background-color: #f2f3f5;
    font-family     : system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
    margin   : 0px;
    padding  : 0px;
    font-size: 62.5%;
}

@media (max-width: 991.98px) {
    html {
        font-size: 56.25%; //缩放至0.9
    }
}

@media (max-width: 767.98px) {
    html {
        font-size: 50%;//缩放至0.8
    }
}




body {
    font-size: 1.6rem;
}



a {
    color          : #e16259;
    text-decoration: none;
}

em,
i {
    font-style: normal;
}

p {
    margin: 0px;
}