body,
html {
    margin          : 0px;
    padding         : 0px;
    background-color: #f2f3f5;
    font-family     : system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    color          : #e16259;
    text-decoration: none;
}

@padding-gap: {
    @media (min-width: 1200px) {
        padding-left : 180px;
        padding-right: 180px;
    }

    @media (max-width: 1200px) {
        padding-left : 80px;
        padding-right: 80px;

    }

    @media (max-width: 800px) {
        padding-left : 20px;
        padding-right: 20px;
    }

    /* 当页面宽度小于319px */
    @media screen and (max-width: 319px) {
        padding-left : 10px;
        padding-right: 10px;
    }
}


.shy-avatar {
    img {
        border-radius: 50%;
    }

    &-name {
        display        : inline-flex;
        justify-content: center;
        align-items    : center;
        background     : rgba(55, 53, 47, 0.3);
        color          : rgba(255, 255, 255, 0.9);
        font-size      : 14px;
        border-radius  : 50%;
    }
}

.shy-site {
    min-height: 100vh;
    width     : 100vw;

    &-head {
        @padding-gap();
        align-items     : center;
        background-color: #f2f3f5;
        box-sizing      : border-box;
        display         : flex;
        height          : 56px;
        justify-content : flex-start;
        position        : fixed;
        top             : 0;
        width           : 100%;
        z-index         : 99;

        &-navs {
            display        : flex;
            justify-content: flex-end;
            align-items    : center;
            padding-right  : 50px;

            a {
                border-radius: 5px;
                color        : #3e3e3e;
                cursor       : pointer;
                display      : inline-block;
                height       : 30px;
                line-height  : 30px;
                margin-left  : 30px;
                text-align   : center;
                min-width    : 80px;
            }
        }

        &.float {
            backdrop-filter : blur(10px);
            background-color: hsla(0, 0%, 100%, .65);
            box-shadow      : 0 4px 8px rgba(0, 0, 0, .08);
        }
    }
}




.shy-site-head-user {
    flex-grow      : 0;
    flex-shrink    : 0;
    height         : 40px;
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
    min-width      : 90px;

    a.shy-site-head-user-sign {
        display         : inline-block;
        width           : 80px;
        text-align      : center;
        cursor          : pointer;
        height          : 32px;
        line-height     : 32px;
        border-radius   : 5px;
        background-color: #242424;
        color           : #fff;
        padding         : 0 5px;
        margin-left     : 10px;
    }

    .shy-site-head-menu {
        margin-left: 10px;
        cursor     : pointer;
        display    : none;
    }
}



.shy-site-head-logo {
    align-items    : center;
    display        : inline-flex;
    flex-grow      : 0;
    flex-shrink    : 0;
    font-weight    : 400;
    justify-content: flex-start;
    position       : relative;
    width          : 120px;

    .shy-site-head-beta {
        background-color: fadeout(#e16259, 20%);
        color           : #fff;
        font-size       : 12px;
        display         : inline-block;
        transform       : scale(0.80.8);
        padding         : 1px 2px;
        border-radius   : 4px;
        font-style      : normal;
        position        : absolute;
        top             : 0px;
        right           : 0px;
    }
}

.shy-site-head-navs {
    flex-grow  : 1;
    flex-shrink: 1;
}

.shy-site-footer {
    @padding-gap();
    align-items    : flex-start;
    display        : flex;
    height         : 160px;
    justify-content: flex-start;
    padding-bottom : 50px;
    padding-top    : 50px;

    &>div {
        flex-grow: 1;
    }

    h4 {
        color      : rgba(0, 0, 0, .6);
        font-size  : 20px;
        font-weight: 400;
        height     : 24px;
        line-height: 24px;
        margin     : 0 0 8px;
    }

    a,
    span {
        color      : #666;
        font-size  : 14px;
        line-height: 30px;
    }
}

.shy-site-content {
    margin-top    : 56px;
    padding-bottom: 100px;

    .shy-site-block {
        @padding-gap();
        margin : 0px;
        padding: 0px;
    }
}

.shy-site-slogan {
    padding-top: 80px;
    position   : relative;


    >p {
        margin: 0px;
    }

    &-title {
        position   : relative;
        z-index    : 2;
        text-align : center;
        font-size  : 40px;
        line-height: 64px;
        color      : rgba(0, 0, 0);
    }

    &-content {
        position   : relative;
        z-index    : 2;
        text-align : center;
        font-size  : 16px;
        color      : rgba(0, 0, 0, .7);
        font-weight: 500;
        margin     : 20px 0px !important;
    }

    &-button {
        position  : relative;
        z-index   : 2;
        margin    : 10px 0px !important;
        text-align: center;

        a {
            display         : inline-flex;
            background-color: #e16259;
            color           : #fff;
            border-radius   : 4px;
            font-size       : 16px;
            padding         : 8px 20px;
            cursor          : pointer;
            border          : 0px;
            outline         : none;
        }

    }

    &-remark {
        position  : relative;
        z-index   : 2;
        font-size : 12px;
        text-align: center;
        color     : rgba(0, 0, 0, .6);
    }

    &-app {
        position       : relative;
        z-index        : 2;
        display        : flex;
        justify-content: center;
        align-items    : center;
        margin-top     : 60px;

        img {
            padding      : 10px;
            background   : rgb(255, 255, 255);
            border-radius: 16px;
            box-shadow   : rgba(79, 77, 192, 0.15) 0px 0px 60px -8px;
            max-width    : 100%;
        }
    }

    &-bg {
        pointer-events: none;

        .shy-site-green-filter {
            z-index                  : 1;
            position                 : absolute;
            top                      : 0%;
            right                    : 0%;
            width                    : 921px;
            height                   : 921px;
            animation-direction      : alternate;
            animation-duration       : 3s;
            animation-iteration-count: infinite;
            animation-name           : filter-green-animate;
            animation-timing-function: ease-in-out;
            opacity                  : .5;
        }

        .shy-site-purple-filter {
            z-index                  : 1;
            position                 : absolute;
            right                    : 358px;
            bottom                   : 458px;
            width                    : 615px;
            height                   : 615px;
            animation-direction      : alternate;
            animation-duration       : 3s;
            animation-iteration-count: infinite;
            animation-name           : filter-purple-animate;
            animation-timing-function: ease-in-out;
            opacity                  : .5;
        }
    }
}

@keyframes filter-green-animate {
    50% {
        transform: translate(-20%, -10%) scale(0.8);
    }
}

@keyframes filter-purple-animate {
    50% {
        transform: translate(60%, 10%) scale(1.2);
    }
}


.shy-site-price {
    padding-top: 50px;

    h2 {
        font-size  : 36px;
        text-align : center;
        font-weight: normal;
    }

    h3,
    h4 {
        text-align: center;
        font-size : 28px;
    }

    p {
        text-align: center;
    }

    .shy-site-price-option {
        display        : flex;
        justify-content: flex-start;
        align-items    : center;
        font-size      : 14px;

        >label {
            display   : inline-block;
            text-align: left;
            flex-grow : 1.0;
        }

        >span {
            display   : inline-block;
            flex-grow : 1.0;
            text-align: right;
        }
    }

    .shy-site-price-remark {
        // color     : rgba(0, 0, 0, .7);
        text-align: left;
        font-size : 14px;
    }

    .shy-site-price-items {
        padding-top    : 20px;
        display        : flex;
        justify-content: flex-start;
        align-items    : stretch;
    }

    .shy-site-price-item {
        width           : 25%;
        // flex-grow    : 1.0;
        // flex-shrink  : 1.0;
        box-sizing      : border-box;
        padding         : 20px 23.33px 20px 20px;
        background      : rgb(255, 255, 255);
        border-radius   : 16px;
        box-shadow      : rgba(79, 77, 192, 0.15) 0px 0px 60px -8px;
        margin          : 0px 10px;

        &:first-child {
            margin-left: 0px;
        }

        &:last-child {
            margin-right: 0px;
        }
    }
}

.shy-site-price-features {
    display: block;

    >div {
        width    : auto;
        max-width: 500px;

        img {
            width : 20px;
            height: 20px;
        }
    }
}

.shy-site-download {
    padding-top: 50px;

    h2 {
        font-size  : 36px;
        text-align : center;
        font-weight: normal;
    }

    h3 {
        text-align: center;
    }

    &-platforms {
        padding-top    : 20px;
        display        : flex;
        justify-content: flex-start;
        align-items    : stretch;
    }

    &-platform {
        flex-grow    : 1.0;
        flex-shrink  : 1.0;
        box-sizing   : border-box;
        padding      : 20px 23.33px 20px 20px;
        background   : rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow   : rgba(79, 77, 192, 0.15) 0px 0px 60px -8px;
        margin       : 0px 10px;
        margin-bottom: 20px;

        &-icon {
            display        : flex;
            justify-content: center;
            align-items    : center;
            height         : 200px;

            svg {
                max-width: 80px;
            }
        }

        &:first-child {
            margin-left: 0px;
        }

        &:nth-child(2) {
            svg {
                max-width: 50px !important;
            }
        }

        &:nth-child(4) {
            svg {
                max-width: 60px !important;
            }
        }

        &:last-child {
            margin-right: 0px;
        }

        p {
            text-align: center;
        }

        p {
            a {
                background-color: #e16259;
                color           : #fff;
                border-radius   : 4px;
                font-size       : 16px;
                padding         : 8px 20px;
                cursor          : pointer;
                border          : 0px;
                outline         : none;
            }
        }
    }
}

.shy-site-dao {
    box-sizing    : border-box;
    padding       : 10px 23.33px 20px 20px;
    background    : rgb(255, 255, 255);
    border-radius : 16px;
    box-shadow    : rgba(79, 77, 192, 0.15) 0px 0px 60px -8px;
    margin        : 0px 10px;
    margin-top    : 100px;
    padding-bottom: 150px;
}

.shy-site-protocol {
    a {
        color: #0069c2;
    }
}

/* 当页面宽度小于319px */
@media screen and (max-width:1000px) {

    .shy-site-head {
        justify-content: space-between;
    }

    .shy-site-head-menu {
        display: block !important;
    }

    .shy-site-head-navs {
        display         : none;
        position        : fixed;
        z-index         : 10000;
        top             : 0px;
        left            : 0px;
        width           : 100vw;
        height          : 100vh;
        padding-top     : 30px;
        backdrop-filter : blur(10px);
        background-color: hsla(0, 0%, 100%, .85);

        >a {
            display  : block;
            margin   : 10px;
            font-size: 20px;
            height   : 40px;
        }
    }

    .shy-site-head-logo {
        // flex-grow  : 1;
        // flex-shrink: 1;
    }

    .shy-site-footer {
        display: block;

        >div {
            margin-bottom: 20px;
        }
    }

    .shy-site-price-items {
        display: block !important;

        >div {
            margin       : 0 auto !important;
            margin-bottom: 40px !important;
            ;
            max-width: 500px;
            width    : auto !important;

            &:last-child,
            &:first-child {
                margin       : 0 auto;
                margin-bottom: 40px;
            }
        }
    }

    .shy-site-price-features {
        display: block;

        >div {
            width    : auto;
            max-width: 500px;

            img {
                width : 20px;
                height: 20px;
            }
        }
    }

    .shy-site-download-platforms {
        display: block;
    }

    .shy-site-download-platform {
        margin       : 0 auto !important;
        margin-bottom: 40px !important;
        ;
        max-width: 500px;

        &:last-child,
        &:first-child {
            margin       : 0 auto;
            margin-bottom: 40px;
        }
    }
}